<div class="card">
    <img class="image"  [src]="image" alt="">
    <div class="wrapper-text">
        <div class="title">{{Titulo}}</div>
        <div class="sub-title">Micard</div>

    </div>
</div>

<div class="card1">
    <img class="image1"  [src]="image1" alt="">
    <div class="wrapper-text">
        <div class="title">{{Titulo1}}</div>
        <div class="sub-title">Micard</div>

    </div>
</div>
<div class="card2">
    <img class="image1"  [src]="image2" alt="">
    <div class="wrapper-text">
        <div class="title">{{Titulo2}}</div>
        <div class="sub-title">Micard</div>

    </div>
</div>
